.product-card {
  max-width: 600px;
  background-color: #ffffff;
  border: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
}
  
  .main-container {
    display: flex;
    gap: 16px;
  }
  
  .category-column {
    background-color: #ffffff;
    padding: 16px;
    width: 200px;
  }
  
  .mat-icon-button,
  .mat-button,
  .mat-raised-button {
    background-color: #ffffff;
    color: white;
    margin-top: 10px;
  }
  
  mat-radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 10px;
  }
  
  mat-radio-button {
    margin-bottom: 8px;
    color: rgb(151, 151, 151);
  }
  
  .cant {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .quantity-input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
  }
  

  .carrito {
    position: relative;
    margin-top: 10px;
  }
  
  .carrito-icon {
    cursor: pointer;
    color: rgba(70, 70, 70, 0.8);
    font-size: 80px;
    margin-right: 100px;
  }
  
  .carrito-contenido {
    position: absolute;
    top: 40px;
    display: none;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .carrito-contenido.show {
    display: block;
  }

  .carrito-contenido mat-list-item {
    padding: 10px;
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: flex-start;
  }
  .mat-list-item {
    font-size: 14px; 
    padding: 10px; 
  }
  
  .mat-list {
    font-size: 18px;
  }

  .custom-green-button {
    background-color: #4CAF50 !important; /* Verde */
    color: white !important; /* Texto blanco */
    transition: background-color 0.3s ease; /* Animación de cambio de color */
  }
  
  .custom-green-button:hover {
    background-color: #45a049 !important; /* Color más claro al poner el cursor encima */
  }