/* Estilos para la tarjeta de producto */
.product-card {
  max-width: 600px;
  background-color: #ffffff;
  border: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
}
  
  /* Contenedor principal */
  .main-container {
    display: flex;
    gap: 16px;
  }
  
  /* Columna de categorías */
  .category-column {
    background-color: #e6f7ff;
    padding: 16px;
    width: 200px;
  }
  
  /* Estilos para los botones */
  .mat-icon-button,
  .mat-button,
  .mat-raised-button {
    background-color: #03a9f4;
    color: white;
    margin-top: 10px;
  }
  
  /* Estilos para la lista de categorías */
  mat-radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #03a9f4;
    padding: 10px;
  }
  
  mat-radio-button {
    margin-bottom: 8px;
    color: white;
  }
  
  /* Estilos adicionales para la cantidad y los botones en la tarjeta */
  .cant {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .quantity-input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
  }
  
  .mat-grid-list{
    columns: 2;
  }


  .carrito {
    position: relative;
    margin-top: 10px;
  }
  
  .carrito-icon {
    cursor: pointer;
    color: rgba(70, 70, 70, 0.8);
    font-size: 80px;
    margin-right: 100px;
  }
  
  .carrito-contenido {
    position: absolute;
    top: 40px;
    display: none;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .carrito-contenido.show {
    display: block;
  }

  .carrito-contenido mat-list-item {
    padding: 10px;
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: flex-start;
  }
