.producto-form {
  width: 300px; /* Ajusta el ancho del formulario al 100% */
  margin: auto; /* Centra el formulario en el medio */
}

mat-dialog-content {
  max-width: none; /* No establece un ancho máximo para el contenido */
}

mat-form-field {
  width: 100%; /* Ajusta el ancho del campo al 100% del contenedor */
  margin: 16px; /* Añade espacio entre los campos, ajusta según sea necesario */
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Una columna */
  gap: 16px; /* Espacio entre los elementos */
}