

<div class="button-container" *ngIf="showCards">
  <div class="card-container">
    <mat-card class="cardBut" id="animatedCard" (click)="navigateTo('/venta')">
      <img src="../assets/icons8-cart.gif" id="animatedIcon" class="hidden">
      <div class="card-text">
        <h5 class="card-title">Venta</h5>
        <p class="card-description">Vende productos a tus clientes.</p>
      </div>
    </mat-card>
    <mat-card class="cardButRestock" id="animatedCard" (click)="navigateTo('/reposicion')">
      <img src="../assets/icons8-todo-list.gif" id="animatedIconRestock" class="animatedIconRestock">
      <div class="card-text">
        <h5 class="card-title">Restocking</h5>
        <p class="card-description">Recarga y modifica el stock de productos en tu tienda.</p>
      </div>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
