table {
    width: 100%;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .example-button-container {
    display: flex;
    gap: 8px; /* Ajusta el espacio entre los botones según sea necesario */
  }
  
  .action-button {
    background-color: transparent !important; /* Elimina el fondo del cuadro del botón */
    box-shadow: none !important; /* Elimina la sombra del cuadro del botón */
    border: none;
    transition: transform 0.2s; /* Agrega una transición */

  /* Escala normal */
  transform: scale(1);
  }
  .action-button:hover,
.action-button:active {
  transform: scale(2.5);
}

.custom-green-button {
  background-color: #4CAF50 !important; /* Verde */
  color: white !important; /* Texto blanco */
  transition: background-color 0.3s ease; /* Animación de cambio de color */
}

.custom-green-button:hover {
  background-color: #45a049 !important; /* Color más claro al poner el cursor encima */
}