table {
    width: 100%;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .example-button-container {
    display: flex;
    gap: 8px;
  }
  
  .action-button {
    background-color: transparent !important; 
    box-shadow: none !important;
    border: none;
    transition: transform 0.2s;

  /* Escala normal */
  transform: scale(1);
  }
  .action-button:hover,
.action-button:active {
  transform: scale(2.5);
}

.custom-green-button {
  background-color: #4CAF50 !important; 
  color: white !important; 
  transition: background-color 0.3s ease; 
}

.custom-green-button:hover {
  background-color: #45a049 !important; 
}